:root {
    --white: #fff;
    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
    
    --purple-300: #8284FA;
    --purple-500: #5E60CE;

    --blue-200: #4EA8DE;
    --blue-500: #1E6F9F;

    --red-500: #E25858
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; 
}

@media (max-width: 720px) { /* 14px */
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--gray-600);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* 1rem = 16px por padrão, rem adapta de acordo com a fonte do usuário */
    font-size: 1rem; 
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}